{% extends 'home.html' %}
{% block page_title %}
    تغییر رمز عبور
{% endblock page_title %}
{% block page_content %}
<div class="container py-4 py-lg-5 my-4">
        <div class="row">
            <center>
                          <div class="col-md-6">
            <div class="card border-0 shadow">
              <div class="card-body">
                <h2 class="h4 mb-1">تغییر رمز عبور</h2>
                <div class="py-3">
                </div>
                <hr>
                <form method="post" class="needs-validation" novalidate action="{% url 'reset_password_page' active_code=user.email_active_code %}" >
                    {% csrf_token %}
                    {{ reset_pass_form }}

{#                    <div class="mb-3">#}
{#                                {{ form.email.label_tag }}#}
{#                                {{ form.email }}#}
{#                                {{ form.email.errors }}#}
{#                            </div>#}
{#                    <div class="mb-3">#}
{#                                {{ form.password.label_tag }}#}
{#                                {{ form.password }}#}
{#                                {{ form.password.errors }}#}
{##}
{##}
{#                            </div>#}
{#                    <div class="mb-3">#}
{#                                {{ form.confirm_password.label_tag }}#}
{#                                {{ form.confirm_password }}#}
{#                                {{ form.confirm_password.errors }}#}
{##}
{#                            </div>#}





{#                  <div class="input-group mb-3">#}
{##}
{#                      <i class="ci-mail position-absolute top-50 translate-middle-y text-muted fs-base ms-3"></i>#}
{#                    <input class="form-control rounded-start" type="email" placeholder="ایمیل" required>#}
{#                      {{ form.email|as_crispy_field }}#}
{##}
{#                  </div>#}
{#                  <div class="input-group mb-3"><i class="ci-locked position-absolute top-50 translate-middle-y text-muted fs-base ms-3"></i>#}
{#                    <div class="password-toggle w-100">#}
{#                      <input class="form-control" type="password" placeholder="رمز عبور" required>#}
{#                        {{ form.password|as_crispy_field }}#}
{##}
{#                        <label class="password-toggle-btn" aria-label="نمایش/پنهان کردن">#}
{#                        <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>#}
{#                      </label>#}
{#                    </div>#}
{#                  </div>#}
{#                    <div class="input-group mb-3"><i class="ci-locked position-absolute top-50 translate-middle-y text-muted fs-base ms-3"></i>#}
{#                    <div class="password-toggle w-100">#}
{#                      <input class="form-control" type="password" placeholder="تکرار رمز عبور" required>#}
{#                        {{ form.confirm_password|as_crispy_field }}#}
{##}
{#                        <label class="password-toggle-btn" aria-label="نمایش/پنهان کردن">#}
{#                        <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>#}
{#                      </label>#}
{#                    </div>#}
{#                  </div>#}
{##}
                  <hr class="mt-4">
                  <div class="text-end pt-4">
                    <button class="btn btn-primary" type="submit"><i class="ci-sign-in me-2 ms-n21"></i>تغییر رمز عبور</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

            </center>
        </div>
      </div>

{% endblock page_content %}