{% load static %}

              <div class="col-md-4 col-sm-6 px-2 mb-4">
                <div class="card product-card">
                  <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="اضافه کردن به علاقه مندی"><i class="ci-heart"></i></button>
                    <a class="card-img-top d-block overflow-hidden" href="{{ product.get_absolute_url }}">
                    <img src="{{ product.Pimage.url }}" alt="{{ product.Ptitle }}"></a>
                  <div class="card-body py-2">
                    <h3 class="product-title fs-sm"><a href="{{ product.get_absolute_url }}">{{ product.Ptitle }}</a></h3>
                    <div class="d-flex justify-content-between">
                      <div class="product-price"><span class="text-accent">{{ product.Pprice }}</span></div>
                      <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star"></i>
                      </div>
                    </div>
                  </div>
                  <div class="card-body card-body-hidden">

                    <button class="btn btn-primary btn-sm d-block w-100 mb-2" type="button"><i class="ci-cart fs-sm me-1"></i>اضافه کردن به سبدخرید</button>
                    <div class="text-center"><a class="nav-link-style fs-ms" href="#{{ product.get_absolute_url }}" data-bs-toggle="modal"><i class="ci-eye align-middle me-1"></i>مشاهده</a></div>
                  </div>
                </div>
                <hr class="d-sm-none">
              </div>
