{% load static %}
{% load render_partial %}
<!DOCTYPE html>
<html lang="en">
  


<head>

    <meta charset="utf-8">
    <title>
    

        {% block page_title %}
        	base
        {% endblock page_title %}
    </title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="{% block meta_description %}    	
    {% endblock %}">
    <meta name="keywords" content="{% block meta_keyword %}
    	
    {% endblock %}">
    <meta name="author" content="گروه سلام">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
   
    <link rel="stylesheet" media="screen" href="{% static 'style.css' %}"/>
    
    <!-- Google Tag Manager-->
    {% include 'header_home_reference.html' %}

  </head>
  <!-- Body-->
  <body class="handheld-toolbar-enabled">
    <!-- Google Tag Manager (noscript)-->
        {% render_partial 'products.views.site_header_component' %}

        {% block page_content %}
            
        {% endblock page_content %}
    
        {% render_partial 'products.views.site_footer_component' %}
    <!-- Footer-->
    
   {% include 'footer_reference.html' %}
  </body>


</html>