
{% load static %}
{% load poll_extras %}

        <div class="navbar-sticky bg-light">
          <div class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand d-none d-sm-block flex-shrink-0" href="index-2.html">
                <img src="{{ site_setting.site_logo.url }}" width="142" alt="کارتزیلا"></a>
                <a class="navbar-brand d-sm-none flex-shrink-0 me-2" href="index-2.html">
                <img src="{{ site_setting.site_logo.url }}" width="74" alt="کارتزیلا"></a>
              <div class="input-group d-none d-lg-flex mx-4">
                <input class="form-control rounded-end pe-5" type="text" placeholder="جستجو برای محصول"><i class="ci-search position-absolute top-50 end-0 translate-middle-y text-muted fs-base me-3"></i>
              </div>
              <div class="navbar-toolbar d-flex flex-shrink-0 align-items-center">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"><span class="navbar-toggler-icon"></span></button><a class="navbar-tool navbar-stuck-toggler" href="#"><span class="navbar-tool-tooltip">منو</span>
                  <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-menu"></i></div></a><a class="navbar-tool d-none d-lg-flex" href="account-wishlist.html"><span class="navbar-tool-tooltip">علاقه مندی</span>
                  <div class="navbar-tool-icon-box"><i class="navbar-tool-icon "><img src="{% static 'images/favorite-24.png' %}"></i></div></a><a class="navbar-tool ms-1 ms-lg-0 me-n1 me-lg-2" href="#signin-modal" data-bs-toggle="modal">
                  <div class="navbar-tool-icon-box"><i class="navbar-tool-icon "><img src="{% static 'images/icons8-user-24.png' %}"></i></div>
{#                  <div class="navbar-tool-text ms-n3"><small>سلام وارد شوید</small>حساب من</div></a>#}
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <a class="nav-item dropdown" href="admin/"> پنل مدیریت ادمین  <a/>
                        {% else %}
                        <a  class="nav-item dropdown" href="{% url 'edit_profile_page' %}"> پنل کاربری  <a/>
                    {% endif %}
                    {% else %}
                    <a   href="{% url 'login_page' %}"> ورود  </a> /
                    
                    <a   href="{% url 'register_page' %}"> ثبت نام</a>

                    
                  {% endif %}
                  <div class="navbar-tool dropdown ms-3">
                      <a class="navbar-tool-icon-box bg-secondary dropdown-toggle" href="{% url 'user-basket' %}"><span class="navbar-tool-label">{{ total_items }}</span><i class="navbar-tool-icon "><img src="{% static 'images/icons8-cart-24.png' %}"></i></a>
                      <a class="navbar-tool-text" href="{% url 'user-basket' %}"><small>سبدخرید من</small>{{ basket_total }}</a>
                  <!-- Cart dropdown-->
                  <div class="dropdown-menu dropdown-menu-end">
                    <div class="widget widget-cart px-3 pt-2 pb-3" style="width: 20rem;">
                      <div style="height: 15rem;" data-simplebar data-simplebar-auto-hide="false">
                        
                          {% for item in basket_order.orderdetails_set.all %}
                          <div class="widget-cart-item pb-2 border-bottom">
                          <button class="btn-close text-danger" type="button" aria-label="Remove"><span aria-hidden="true">&times;</span></button>
                          <div class="d-flex align-items-center"><a class="flex-shrink-0" href="shop-single-v1.html"><img src="{{ item.product.Pimage.url }}" width="64" alt="محصول"></a>
                            <div class="ps-2">
                              <h6 class="widget-product-title"><a href="shop-single-v1.html">{{ item.product.Ptitle }}</a></h6>
                              <div class="widget-product-meta"><span class="text-accent me-2">{{ item.product.Pprice|three_digits_currency }}</span></div>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                      </div>
                      <div class="d-flex flex-wrap justify-content-between align-items-center py-3">
                        <div class="fs-sm me-2 py-2"><span class="text-muted">جمع کل:</span><span class="text-accent fs-base ms-1">{{ basket_total }}</span></div><a class="btn btn-outline-secondary btn-sm" href="shop-cart.html">ادامه خرید<i class="ci-arrow-right ms-1 me-n1"></i></a>
                      </div><a class="btn btn-primary btn-sm d-block w-100" href="checkout-details.html"><i class="ci-card me-2 fs-base align-middle"></i>بررسی</a>
                    </div>
                  </div>
                </div>
              </div>
           
            </div>
          </div>
          <div class="navbar navbar-expand-lg navbar-light navbar-stuck-menu mt-n2 pt-0 pb-2">
            <div class="container">
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <!-- Search-->
                <div class="input-group d-lg-none my-3"><i class="ci-search position-absolute top-50 start-0 translate-middle-y text-muted fs-base ms-3"></i>
                  <input class="form-control rounded-start" type="text" placeholder="جستجو برای محصول">
                </div>
                <!-- Departments menu-->
                <!-- Primary menu-->
                <ul class="navbar-nav">
                    <li class="nav-item dropdown active">
                      <a class="nav-link dropdown-toggle" href="{% url 'home' %}" >خانه</a>
                      </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="{% url 'product_list' %}" >فروشگاه</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="{% url 'article_list' %}"  >وبلاگ</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{% url 'contact_page' %}" >ارتباط با ما</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{% url 'user-basket' %}" >سبد خرید</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{% url 'admin_dashboard' %}" >داشبورد مدیریت</a>
                    </li>
                </ul>
                  
              </div>
            </div>
          </div>
        </div>
      <!-- Page Title-->
      <div class="page-title-overlap bg-dark pt-4">
        <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
          <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
{#            <nav aria-label="breadcrumb">#}
{#              <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">#}
{#                <li class="breadcrumb-item"><a class="text-nowrap" href="{% url 'home' %}"><i class="ci-home"></i>خانه</a></li>#}
{#                <li class="breadcrumb-item text-nowrap"><a href="#">فروشگاه</a>#}
{#                </li>#}
{#                <li class="breadcrumb-item text-nowrap active" aria-current="page">لیست محصولات</li>#}
{#              </ol>#}
{#            </nav>#}
          </div>
          <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 class="h3 text-light mb-0">
            {% block name %}
                
            {% endblock %}
            </h1>
          </div>
        </div>
      </div>
