{% load static %}
<div class="col-lg-4 col-6 px-0 px-sm-2 mb-sm-4">
                      <div class="card product-card card-static rtl">
                        <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="اضافه کردن به علاقه مندی"><i class="ci-heart"></i></button><a class="card-img-top d-block overflow-hidden" href="shop-single-v1.html"><img src="{{ category.Pimage.url }}" alt="محصول"></a>
                        <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="#">{{ category.Pcategory }}</a>
                          <h3 class="product-title fs-sm"><a href="shop-single-v1.html">{{ category.Ptitle }}</a></h3>
                          <div class="d-flex justify-content-between">
                            <div class="product-price"><span class="text-accent">24.<small>99</small></span></div>
                            <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
